__pycache__/
*.py[cod]
.pylint.d/
*$py.class
*.eps
*.pdf
*.png
*.json
*.h5
*.o
*.log
*.exe
*.lp
*.pkl
*.mps
*gexf
*.stackdump
.idea/
.spyproject/
.~lock*
*.sol
~$*
Thumbs.db*
*-checkpoint.ipynb
~$*
storage/
testtemp/
test.db
.coverage
build

### VisualStudioCode ###
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

docs/build/
docs/source/
!docs/source/index.rst
!docs/source/conf.py
!docs/source/make.bat
!docs/source/Makefile

venv
experiments/proseqo/comparison/results
experiments/proseqo/edge_removal/results
experiments/proseqo/process_tree_reconstruction
experiments/proseqo/clustering/results
experiments/proseqo/scalability/results
experiments/**/results*
experiments/proseqo/prosimple_hyperparameter/
*.pickle
*.pnml
log.txt
log1.txt
log2.txt
*.html
*.cpp
catboost_info
coverage.xml